/FQZS_Lua/Assets/Resources/UI/*.psd
/FQZS_Lua/Assets/Resources/UI/betUI-assets
/UnityCMDBuild.log
/.vs
/Library
/obj
/StreamingAssets
/.gitattributes
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/OSA.csproj
/OSA-Editor.csproj
/SLWH_Lua.sln
/spine-unity.csproj
/spine-unity-editor.csproj
/Temp
/命令行打包上传pull daoge.check.bat
/命令行打包上传pull liu.dev.bat
/命令行打包上传pull spring.dev.bat
/*.sln
